In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.interpolate import interp1d
import random
import math
import xlrd
import seaborn as sns
sns.set_style("darkgrid")
from matplotlib.pyplot import *

In [2]:
df = pd.read_excel("outPut.xlsx")

In [10]:
df = df.iloc[:5,:5]

In [11]:
df

             A    D  A.1  D.1  A.2
AMANDINE   1.0  3.0  0.0  2.0  2.0
ANISSA M.  2.0  2.0  2.0  1.0  2.0
ANNIE B.   1.0  1.0  0.0  1.0  1.0
ANNIE Bo.  1.0  0.0  0.0  1.0  2.0
ANNIE P.   2.0  2.0  3.0  2.0  3.0

In [32]:
df.iloc[1:-2, ]

             A    D  A.1  D.1  A.2
ANISSA M.  2.0  2.0  2.0  1.0  2.0
ANNIE B.   1.0  1.0  0.0  1.0  1.0